/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/

:root {
    --primary-color: antiquewhite;
    --secondary-color: black;
    --red: #ee0000;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--red);
    color: var(--primary-color);
    font-family: 'Caveat';
    font-weight: 400; 
    font-size: 24px; 
    line-height: 40px;
    
}

.main-body {
    min-height: 100%;
    text-align: justify;
}


h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: var(--primary-color);
}

a:visited {
    color: var(--secondary-color);
}

a:hover, :focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

button,
#CV-button {
    border: double var(--secondary-color);
    display: inline-block;
    font-family: inherit;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    -webkit-transition: 0.2 opacity;
    transition: 0.2 opacity;
}

/* The focus part is for accessibility */
button:hover, 
button:focus,
#CV-button:hover,
#CV-button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list__item--active {
    color: var(--secondary-color);
}

.navigation__logo {
    width: 200px;  
    padding-bottom: 10px;  
}

.navigation-list li {
    display: inline-block;
    margin-right: 20px;
}

/* Give parent container the Flexbox property and cover full width with 20px of padding */
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

/* Give it a base width of 200px and the ability to shrink along the same ratio, but not to grow. This will only be applied to the navigation */
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

/* The logo would be the first child, the navigation the second */
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.page-header__item:first-child {
    -o-object-fit: contain;
       object-fit: contain;
}

.profile {
    padding: 100px 0px;
    line-height: 40px;
    max-width: 700px;
    margin: 0 auto; 
}

#code {
    text-align: right;
    padding-top: 20px;
}

/* Makes the text (and everything else) below the picture float to the left of the picture */
.profile__portrait {
    float: left;
    -o-object-fit: cover;
       object-fit: cover;
    width: 190px;  
    margin-right: 50px;
    margin-top: 37px;
    border-radius: 50%;

}

/* Get rid of the floating effect like this: */
.page-footer {
    clear: both;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.footer-link {
    text-decoration: none;
}

#page-footer__item {
    margin-bottom: 15px;
   
}

/* this styles the horizontal ruler */
hr {
    border: 1.5px solid var(--primary-color);
    margin: 0px;
}

span {
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}


/* Specific to ABOUT page */

.aboutpage {
    margin: 0 50px;
    text-align: center;
}

.aboutpage h2 {
    color: rgb(0, 0, 0);
}

#about-p {
    margin-bottom: 0px;
    -ms-grid-column-align: left;
        justify-self: left;
}

#about-p2 {
    margin-top: 10px;
    margin-bottom: 45px;
}

.aboutpage-list {
    padding-bottom: 35px;
    margin-right: 40px;
    list-style-type: none;
}

.about-secondlist {
    list-style-type: none;
    margin-right: 40px;   
    margin-top: 10px;
    margin-bottom: 45px; 
}

#climbing {
    margin-bottom: 0px;
}

#CV-button {
    margin-top: 45px;
    margin-bottom: 65px;
    background-color: var(--primary-color);
    border: double var(--secondary-color);
    border-radius: 13px;
    padding: 13px 18px;
}

table {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
    border: solid var(--primary-color);
}

thead {
    text-decoration: underline;
}

tbody {
    text-align: center;
}

/* Specific to CONTACT page */

.contact-main {
    margin-top: 40px;
    margin-left: 30px;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    margin-left: 30px;
    max-width: 35%;
}

.standard-label {
    line-height: 35px;
    margin-top: 10px;
}

/* Ask why this does not work */
#email-link {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}


/* Specific to WORK page */

/* Start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
   }
/* End grid fallback */

@supports (display: grid) {
    .grid {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0;
    padding: 20px;
  }
  .grid__item {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 15px;
    border-radius: 7%;
  }
  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  } 
}

#work-h1 {
    margin-left: 10px;
}

/* Add media queries rules to achieve a Responsive Design -This usually goes at the very end of the CSS stylesheet */

@media all and (max-width:750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@-webkit-keyframes color-change {
    0% {
        fill: var(--primary-color);
    }
    50% {
        fill: #c0c5ce;
    }
    100% {
        fill: var(--secondary-color)    }
}

@keyframes color-change {
    0% {
        fill: var(--primary-color);
    }
    50% {
        fill: #c0c5ce;
    }
    100% {
        fill: var(--secondary-color)    }
}

#luna {
    -webkit-animation: 6s color-change infinite alternate linear;
            animation: 6s color-change infinite alternate linear;
    
}

@-webkit-keyframes silla-move {
    from {
        -webkit-transform: translate(-2px, 0);
                transform: translate(-2px, 0);
    }
    to {
        -webkit-transform: translate(7px, 0);
                transform: translate(7px, 0);
    }
}

@keyframes silla-move {
    from {
        -webkit-transform: translate(-2px, 0);
                transform: translate(-2px, 0);
    }
    to {
        -webkit-transform: translate(7px, 0);
                transform: translate(7px, 0);
    }
}

#silla {
    -webkit-animation: 4s silla-move infinite alternate linear;
            animation: 4s silla-move infinite alternate linear;
}
   
  /* #rueda-externa-1 {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
} */

/* Navigation Animation */

Border X get width 

/* @import 'https://fonts.googleapis.com/css?family=Raleway'; */

.borderXwidth
{
    font-family: Raleway;
    font-size: 20px;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

.borderXwidth a
{
    color: var(--primary-color);
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.borderXwidth a:before, .borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: var(--secondary-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

.borderXwidth a:hover:before, .borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}